.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.selector {
  margin-right: 0.5rem;
}

.inputContainer {
  margin-right: 0.5rem;
}

.input {
  padding: 0.2rem;
  border: 1px solid #ccc;
}

.targetResult {
  margin-left: 0.25rem;
  margin-top: 0.2rem;
  font-size: 0.8rem;
}
